* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color-primario: #4b039e;
  --color-secundario: #a1a1a1;
}
main {
  background-image: url("/img/login-background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.container-btn {
  width: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  padding: 20px 30px;
}
.container-btn img {
  border-radius: 20px;
  width: 100px;
  margin: auto;
}
.container-btn p {
  text-align: center;
  margin: 10px auto 20px;
  font-weight: bold;
  font-size: 16px;
}
.container-btn .box-btn {
  display: inline;
  display: flex;
  justify-content: space-between;
}

/* Css Login */

.box-input input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  background: #ffffff;
  border: solid 1px var(--color-secundario);
  border-radius: 10px;
}
.box-input textarea {
  width: 100%;
  min-width: 330px;
  max-width: 330px;
  min-height: 100px;
  max-height: 100px;
}

/* Login */
.box-input label {
  color: #3a3a3a;
  padding-left: 20px;
}
.btn-form {
  text-decoration: none;
  background: var(--color-primario);
  color: #fff;
  padding: 15px 43%;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  border: none;
}
